:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal:  'Inter', sans-serif;
    --botao-azul-efeito:#3c92fa;
    
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight:400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;/* serve pra alinhar o item no grid*/
    text-align: center; /*serve pra alinhar o texto*/
}

.container {
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
}

.container-botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding:1em;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;

   text-decoration: none;
}
.botao-secundario{
    background-color: transparent;
    border:2px solid var(--branco-principal);
}
.container--aviso{
    font-size: 12px;
    color:var(--cinza-secundario);

}
.container-titulo{
    font-size: 28px;
    font-weight:700;
}
.container-imagem{
    margin:1em 0 2em 0;
}
.container-caixa{
    margin: 0 6em;
}
.secundario-imagem{
    width:80%;
 
}
.secundario{
    align-items:center;
    margin:0 10em;
}
.descricao-titulo{
    font-size: 40px;
    font-weight: bold;
    color:var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao-texto{
    font-size: 15px;
    color:var(--cinza-secundario);

}
.secundario-botao{
    display: inline-block;
    margin-top: 1em; 
}
.container-descricao{
    padding:2em;
}
.dispositivos{
    text-align: center;

}
.dispositivos-titulo{
    font-size: 48px;
    
    color:var(--branco-principal)

}
.dispositivos-lista{
    display:flex;
    justify-content: center;
    list-style-type: none; /* Tirou o estilo da lista*/
    margin:5em 0;


}
.lista-itens{
    font-size: 32px; 
    color:var(--branco-principal)
}
.lista-itens:hover{
    color:var(--cinza-secundario)
}
.rodape{
    text-align:center;
    margin: 5em 3em;
}
.rodape-logo{
margin:4em 0 1em 0;
}
.rodape-lista{
    display:flex;
    justify-content: center;
    list-style-type: none; /* Tirou o estilo da lista*/
    margin-top:1em;
}

.lista-link a{
    
    color:var(--branco-principal);
    margin-left: 1em;
    text-decoration: none;
  
}

.lista-link a:hover{
    color:var(--botao-azul);

}
.lista-link a:active{
    color: var(--botao-azul-efeito);
}


.rodape-texto{
    font-size: 14px;
    color:var(--cinza-secundario);
    margin:1em 0;

}
.container-botao:hover{
    background-color: var(--botao-azul-efeito);
    color:var(--cor-de-fundo);
}